## 有門檻 v.s. 沒門檻 t 檢定
- 使用 control 的資料

In [1]:
import os
import pandas as pd
import pingouin as pt
import warnings

warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.float_format', '{:.3f}'.format)

In [3]:
all_data = pd.read_csv(r'C:\Users\User\Desktop\poll\data\processed_data\merge_data.csv', index_col=0)
data = all_data.loc[(all_data['treatment'] == 0)]

### ```檢視人數分配```

In [4]:
# 檢視人數
print(f"資料筆數: {len(data)}")
print("---------------------")

print('沒門檻/有門檻人數分配')
display(data.groupby(['sb_condition']).size())
print('---------------------')

print('大大底下的兩種情況')
display(data.groupby(['sb_condition', 'bb_pq']).size())
print('---------------------')

資料筆數: 450
---------------------
沒門檻/有門檻人數分配

sb_condition
bb    135
bs    105
sb    105
ss    105
dtype: int64

---------------------
大大底下的兩種情況

sb_condition  bb_pq
bb            different     15
              same         120
dtype: int64

---------------------

### ```區分為大大、小小、小大、大小```

In [5]:
# select data based on sb_condition
bb = 'bb'
bb_data = data.query('sb_condition == @bb')

ss = 'ss'
ss_data = data.query('sb_condition == @ss')

sb = 'sb'
sb_data = data.query('sb_condition == @sb')

bs = 'bs'
bs_data = data.query('sb_condition == @bs')

### t-test for 4 combinations
- 上: paired
- 下: 沒有 paired

### ```all```

In [6]:
# perform t test - all
display(pt.ttest(data['player.wtp_voting_cost'], data['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(data['player.wtp_voting_cost'], data['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val         CI95%  cohen-d     BF10  power
T-test 8.841  449   two-sided  0.000  [5.12, 8.05]    0.455  1.9e+14  1.000

           T  dof alternative  p-val        CI95%  cohen-d       BF10  power
T-test 6.830  898   two-sided  0.000  [4.7, 8.48]    0.455  4.091e+08  1.000

In [7]:
# get the mean
print('【全部資料】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {data['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {data['player.wtp_voting_cost_pq'].describe()['mean']}")

【全部資料】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 18.18888888888889
有門檻: 11.6

### ```bb```

In [8]:
# perform t test - bb
display(pt.ttest(bb_data['player.wtp_voting_cost'], bb_data['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(bb_data['player.wtp_voting_cost'], bb_data['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val        CI95%  cohen-d      BF10  power
T-test 4.955  134   two-sided  0.000  [2.66, 6.2]    0.293  6095.691  0.921

           T  dof alternative  p-val        CI95%  cohen-d  BF10  power
T-test 2.403  268   two-sided  0.017  [0.8, 8.06]    0.293  2.04  0.668

In [9]:
# get the mean
print('【BB 資料】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {bb_data['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {bb_data['player.wtp_voting_cost_pq'].describe()['mean']}")

【BB 資料】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 22.103703703703705
有門檻: 17.674074074074074

- bb_pq: same

In [10]:
# perform t test-bb(same)
bb_same = bb_data.loc[(bb_data['bb_pq'] == 'same')]

display(pt.ttest(bb_same['player.wtp_voting_cost'], bb_same['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(bb_same['player.wtp_voting_cost'], bb_same['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val         CI95%  cohen-d      BF10  power
T-test 4.824  119   two-sided  0.000  [2.74, 6.56]    0.307  3344.934  0.916

           T  dof alternative  p-val       CI95%  cohen-d   BF10  power
T-test 2.382  238   two-sided  0.018  [0.8, 8.5]    0.307  2.021  0.660

In [11]:
# get the mean
print('【大大-隊友立場相同】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {bb_same['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {bb_same['player.wtp_voting_cost_pq'].describe()['mean']}")

【大大-隊友立場相同】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 22.008333333333333
有門檻: 17.358333333333334

- bb_different

In [12]:
# perform t test-bb(same)
bb_different = bb_data.loc[(bb_data['bb_pq'] == 'different')]

display(pt.ttest(bb_different['player.wtp_voting_cost'], bb_different['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(bb_different['player.wtp_voting_cost'], bb_different['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test 1.148   14   two-sided  0.270  [-2.32, 7.65]    0.170  0.459  0.094

           T  dof alternative  p-val           CI95%  cohen-d   BF10  power
T-test 0.465   28   two-sided  0.645  [-9.08, 14.41]    0.170  0.374  0.073

In [13]:
# get the mean
print('【大大-隊友立場不同】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {bb_different['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {bb_different['player.wtp_voting_cost_pq'].describe()['mean']}")

【大大-隊友立場不同】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 22.866666666666667
有門檻: 20.2

### ```ss```

In [14]:
# perform t test - ss
display(pt.ttest(ss_data['player.wtp_voting_cost'], ss_data['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(ss_data['player.wtp_voting_cost'], ss_data['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val          CI95%  cohen-d       BF10  power
T-test 7.395  104   two-sided  0.000  [6.36, 11.02]    0.691  2.338e+08  1.000

           T  dof alternative  p-val         CI95%  cohen-d       BF10  power
T-test 5.009  208   two-sided  0.000  [5.27, 12.1]    0.691  1.195e+04  0.999

In [15]:
# get the mean
print('【小小】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {ss_data['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {ss_data['player.wtp_voting_cost_pq'].describe()['mean']}")

【小小】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 14.619047619047619
有門檻: 5.933333333333334

### ```sb```

In [16]:
# perform t test - sb
display(pt.ttest(sb_data['player.wtp_voting_cost'], sb_data['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(sb_data['player.wtp_voting_cost'], sb_data['player.wtp_voting_cost_pq'], paired = False))

            T  dof alternative  p-val           CI95%  cohen-d   BF10  power
T-test -2.556  104   two-sided  0.012  [-7.21, -0.91]    0.295  2.373  0.850

            T  dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test -2.139  208   two-sided  0.034  [-7.8, -0.32]    0.295  1.269  0.567

In [17]:
# get the mean
print('【小大】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {sb_data['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {sb_data['player.wtp_voting_cost_pq'].describe()['mean']}")

【小大】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 12.038095238095238
有門檻: 16.095238095238095

### ```bs```

In [18]:
# perform t test - bs
display(pt.ttest(bs_data['player.wtp_voting_cost'], bs_data['player.wtp_voting_cost_pq'], paired = True))
display(pt.ttest(bs_data['player.wtp_voting_cost'], bs_data['player.wtp_voting_cost_pq'], paired = False))

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,11.046,104,two-sided,0.000,"[14.7, 21.13]",1.500,1.676e+16,1.000

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,10.866,208,two-sided,0.000,"[14.66, 21.16]",1.500,7.321e+18,1.000

In [19]:
# get the mean
print('【大小】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {bs_data['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {bs_data['player.wtp_voting_cost_pq'].describe()['mean']}")

【大小】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 22.876190476190477
有門檻: 4.961904761904762

### t-test: non_pq v.s. pq

### ```big```

In [20]:
# select dataset
big_non_pq = data.loc[(data['player.is_large_team'] == 1)]
big_pq = data.loc[(data['player.is_large_team_pq'] == 1)]

In [21]:
# perform t test
display(pt.ttest(big_non_pq['player.wtp_voting_cost'], big_pq['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val         CI95%  cohen-d     BF10  power
T-test 4.023  478   two-sided  0.000  [2.79, 8.12]    0.367  235.318  0.980

In [22]:
# get the mean
print('【大】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {big_non_pq['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {big_pq['player.wtp_voting_cost_pq'].describe()['mean']}")

【大】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 22.441666666666666
有門檻: 16.983333333333334

### ```small```

In [23]:
# select dataset
small_non_pq = data.loc[(data['player.is_large_team'] == 0)]
small_pq = data.loc[(data['player.is_large_team_pq'] == 0)]

In [24]:
# perform t test
display(pt.ttest(small_non_pq['player.wtp_voting_cost'], small_pq['player.wtp_voting_cost_pq'], paired = False))

           T  dof alternative  p-val          CI95%  cohen-d      BF10  power
T-test 6.841  418   two-sided  0.000  [5.62, 10.15]    0.668  2.65e+08  1.000

In [25]:
# get the mean
print('【小】有門檻與沒門檻的 wtp 平均值')
print('------------------------')
print(f"沒門檻: {small_non_pq['player.wtp_voting_cost'].describe()['mean']}")
print(f"有門檻: {small_pq['player.wtp_voting_cost_pq'].describe()['mean']}")

【小】有門檻與沒門檻的 wtp 平均值
------------------------
沒門檻: 13.32857142857143
有門檻: 5.447619047619048